*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# Bower
# bootstrap (using bootswatch)
**/wwwroot/lib/bootstrap/**

# jquery
**/wwwroot/lib/jquery/*
!**/wwwroot/lib/jquery/dist/
**/wwwroot/lib/jquery/dist/*
!**/wwwroot/lib/jquery/dist/*.min.*

# jquery-validation
**/wwwroot/lib/jquery-validation/*
!**/wwwroot/lib/jquery-validation/dist/
**/wwwroot/lib/jquery-validation/dist/*
!**/wwwroot/lib/jquery-validation/dist/*.min.js

# jquery-validate-unobtrusive
**/wwwroot/lib/jquery-validation-unobtrusive/*
!**/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js

# bootswatch
**/wwwroot/lib/bootswatch/*
!**/wwwroot/lib/bootswatch/dist/
**/wwwroot/lib/bootswatch/dist/*
!**/wwwroot/lib/bootswatch/dist/*/
**/wwwroot/lib/bootswatch/dist/*/*
!**/wwwroot/lib/bootswatch/dist/*/bootstrap.min.css

# fontawesome
**/wwwroot/lib/fontawesome/*
!**/wwwroot/lib/fontawesome/web-fonts-with-css/
**/wwwroot/lib/fontawesome/web-fonts-with-css/*
!**/wwwroot/lib/fontawesome/web-fonts-with-css/css/
**/wwwroot/lib/fontawesome/web-fonts-with-css/css/*
!**/wwwroot/lib/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css


