@{
	var nextUrl = Url.Content(ViewData["NextUrl"]?.ToString());
}
<div class="col-sm-6 text-right small">
	<div>
		<span id="paused-info-text" class="text-info invisible">PAUSED</span>&nbsp;&nbsp;
		<a href="#" id="play-pause"><i class="fas fa-pause fa-2x"></i></a>&nbsp;&nbsp;
		<a href="@nextUrl"><i class="fas fa-forward fa-2x"></i></a>
	</div>
	<div>
		<span class="text-muted">showing&nbsp;</span>
		<span><a href="@nextUrl">@nextUrl</a>&nbsp;</span>
		<span class="text-muted">in&nbsp;</span>
		<span id="rotator-countdown"></span>s
	</div>
</div>
