
@{
    ViewData["Title"] = "Clock::Display";
}

<div class="row">
    <div class="col-sm-6">
		<canvas id="clock" width="500" height="500">
			Your browser is unfortunately not supported. Please upgrade.
		</canvas>
	</div>
	<div class="col-sm-6 parent text-center">
		<div class="child">
			<div class="display-1">@DateTime.Now.DayOfWeek</div>
			<div class="display-1">@DateTime.Now.ToString("d MMMM")</div>
			<div class="display-1">@DateTime.Now.Year</div>
		</div>
	</div>
</div>