
@{
    ViewData["Title"] = "Calendar::Weekly";
}

<h1>Calendar</h1>
<h2>Weekly</h2>

<h3>Saturday 31st March 2018 (Easter Saturday)</h3>
<ul>
<li>6 pm Claire and Mai arriving</li>
</ul>

<h3>Sunday 1st April 2018 (Easter Sunday)</h3>
<ul>
<li>12:30 pm Lunch at Aunty Linda and Uncle Rodney's</li>
</ul>


<h3>Thursday 5th April 2018</h3>
<ul>
<li>7:30 pm Choir Practice</li>
</ul>
