
@{
    ViewData["Title"] = "Reminders::Display";
}
<h1>Reminders</h1>

<p class="display-4">
Claire and Mai will be driving down and with you about 6 pm Saturday evening (31st March). 
</p>
<p class="display-4">
We will bring a joint of pork for dinner and some veggies.
</p>
<p class="display-4">
Tomorrow (Easter Sunday) are going to Aunty Linda's for lunch approx 12:30 (after church).
</p>



